In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.9.0)
Requirement already satisfied: urllib3[socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [449]:
import selenium as sl
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

{}

In [6]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

#get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

#create variable for designation field, get and assign the field address
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
#set value(Data Analyst) into designation field
designation.send_keys('Data Analyst')

In [7]:
#create variable for location field, get and assign the field address
location = driver.find_element(By.XPATH, "/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
#set value(Bangalore) into designation field
location.send_keys('Bangalore')

In [8]:
#create variable for search button, get and assign the address
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

#click search button
search.click()

In [9]:
#creating variables to hold list of job titles, location, company name and required experience
job_title = []
job_location = []
company_name = []
experience_required = []

In [10]:
# Scraping top 10 job title from the given page
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [11]:
# Scraping top 10 location from the given page
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    title = i.text
    job_location.append(title)

In [12]:
# Scraping top 10 company from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [13]:
# Scraping top 10 experiences from the given page
experience_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [14]:
#loading the list in dataframe
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,Bangalore/Bengaluru,Siemens,4-6 Yrs
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs

In [19]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
#    You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#get the webpage https://www.naukri.com/
import selenium as sl
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})


driver.get('https://www.naukri.com/')

#create variable for designation field, get and assign the field address
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
#set value(Data Scientist) into designation field
designation.send_keys('Data Scientist')

In [20]:
#create variable for location field, get and assign the field address
location = driver.find_element(By.XPATH, "/html/body/div/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
#set value(Bangalore) into designation field
location.send_keys('Bangalore')

In [21]:
#create variable for search button, get and assign the address
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

#click search button
search.click()

In [22]:
#creating variables to hold list of job titles, location, company name and required experience
job_title = []
job_location = []
company_name = []

In [23]:
# Scraping top 10 job title from the given page
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [24]:
# Scraping top 10 location from the given page
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    title = i.text
    job_location.append(title)

In [25]:
# Scraping top 10 company from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [26]:
#loading the list in dataframe
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Science Analyst,Bangalore/Bengaluru,Accenture
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
6,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
7,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
8,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart

In [43]:
#Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

import selenium as sl
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

#create variable for designation field, get and assign the field address
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
#set value(Data Scientist) into designation field
designation.send_keys('Data Scientist')

In [44]:
#create variable for search button, get and assign the address
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")

#click search button
search.click()

In [45]:
#Code to select location
location_checkbox = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location_checkbox.click()

In [47]:
#Code to select salary 
salary_checkbox = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_checkbox.click()

In [48]:
#creating variables to hold list of job titles, location, company name and required experience
job_title = []
job_location = []
company_name = []
experience_required = []

In [49]:
# Scraping top 10 job title from the given page
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [50]:
# Scraping top 10 location from the given page
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth']")
for i in location_tags[0:10]:
    title = i.text
    job_location.append(title)

In [51]:
# Scraping top 10 company from the given page
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [52]:
# Scraping top 10 experiences from the given page
experience_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth']")
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [53]:
#loading the list in dataframe
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Analyst,Bangalore/Bengaluru,Accenture,3-5 Yrs
2,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software,3-6 Yrs
3,Junior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Analytos,0-2 Yrs
4,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU,1-6 Yrs
5,Data Scientist - AI/ML,Bangalore/Bengaluru,SAP,3-7 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Gurgaon/Gurugram",Blackbuck,3-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs
8,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Analytos,2-4 Yrs

In [450]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
#1. Brand
#2. Product Description
#3. Price
#The attributes which you have to scrape is ticked marked in the below image.

import selenium as sl
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [118]:
#create variable for designation field, get and assign the field address
products_brands_more = driver.find_element(By.CLASS_NAME, "_3704LK")
#set value(Data Scientist) into designation field
products_brands_more.clear()
products_brands_more.send_keys('sunglasses')

In [120]:
#create variable for search button, get and assign the address
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")

#click search button
search.click()

In [137]:
#Defining variables that will hold list of product brands, description,prices and discount
product_brands = []
product_descriptions =[]
product_prices = []
product_discounts = []

In [138]:
#Code to scrape top 100 sunglasses brand,description,price and discount
x=0
y=0
z=0
u=0
while True:
    
    #Scraping top 100 brands
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands:
        product_brands.append(i.text)
        x+=1
        if x==100:
            break
            
    #Scraping top 100 product description
    desc =driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in desc:
        product_descriptions.append(i.text)
        y+=1
        if y==100:
            break   
            
    #Scraping top 100 prices
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:
        product_prices.append(i.text)
        z+=1
        if z==100:
            break
            
    #Scraping top 100 discounts
    discount =driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in discount:
        product_discounts.append(i.text)
        u+=1
        if u==100:
            break
    if u == 100:
        break
    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [139]:
print(len(product_brands),len(product_descriptions),len(product_prices),len(product_discounts))

100 100 100 100

In [141]:
#loading the list in dataframe
df = pd.DataFrame({'Brand':product_brands,'Description':product_descriptions,'Price':product_prices,'Discount':product_discounts})
df

,Brand,Description,Price,Discount
0,VINCENT CHASE,Polarized Wayfarer Sunglasses (52),₹949,52% off
1,VINCENT CHASE,UV Protection Round Sunglasses (47),₹689,65% off
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹109,91% off
3,Elligator,"Polarized, UV Protection Retro Square Sunglass...",₹149,75% off
4,SRPM,UV Protection Clubmaster Sunglasses (54),₹109,91% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹879,56% off
96,SRPM,UV Protection Shield Sunglasses (Free Size),₹169,86% off
97,PIRASO,"Polarized, UV Protection Aviator Sunglasses (55)",₹274,89% off
98,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹539,46% off
99,VINCENT CHASE,UV Protection Wayfarer Sunglasses (Free Size),"₹1,379",31% off

In [173]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
#As shown in the above page you have to scrape the tick marked attributes. These are:
#1. Rating
#2. Review summary
#3. Full review
#4. You have to scrape this data for first 100reviews.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})


# get the site
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&sortOrder=MOST_HELPFUL&certifiedBuyer=false&aid=overall')

In [177]:
#variables to hold list of reviews rating, review summary, full reviews
review_ratings = []
review_summarys =[]
full_reviews = []

In [178]:
#Code to scrape top 100 reviews rating,review summary,full review
x=0
y=0
z=0
while True:
    
    #Scraping top 100 ratings
    ratings=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in ratings:
        review_ratings.append(i.text)
        x+=1
        if x==100:
            break
            
    #Scraping top 100 reviews
    summarys =driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in summarys:
        review_summarys.append(i.text)
        y+=1
        if y==100:
            break  
            
    #Scraping top 100 full reviews        
    reviews =driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in reviews:
        full_reviews.append(i.text)
        z+=1
        if z==100:
            break
    
    if x == 100:
        break
    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [179]:
print(len(review_ratings),len(review_summarys),len(full_reviews))

100 100 100

In [180]:
#loading the list in dataframe
df = pd.DataFrame({'Review ratings':review_ratings,'Summary':review_summarys,'Full review':full_reviews})
df

,Review ratings,Summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,5,Perfect product!,It is just awesome mobile for this price from ...
99,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...

In [181]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#You have to scrape 3 attributes of each sneaker:
#1. Brand
#2. Product Description
#3. Price

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [185]:
#create variable for search field, get and assign the field address
products_brands_more = driver.find_element(By.CLASS_NAME, "_3704LK")
#set value(sneakerst) into designation field
products_brands_more.clear()
products_brands_more.send_keys('sneakers')

In [186]:
#create variable for search button, get and assign the address
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")

#click search button
search.click()

In [187]:
#define variables for list of products brands, description and prices
product_brands = []
product_descriptions =[]
product_prices = []

In [188]:
#Code to scrape top 100 sneakers brand,description,price and discount
x=0
y=0
z=0

while True:
    
    #Scraping top 100 brands
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands:
        product_brands.append(i.text)
        x+=1
        if x==100:
            break
            
    #Scraping top 100 product description
    desc =driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in desc:
        product_descriptions.append(i.text)
        y+=1
        if y==100:
            break   
            
    #Scraping top 100 prices
    price =driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price:
        product_prices.append(i.text)
        z+=1
        if z==100:
            break
            
    if x == 100:
        break
    next_button = driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

In [189]:
print(len(product_brands),len(product_descriptions),len(product_prices))

100 100 100

In [190]:
#loading the list into dataframe
df = pd.DataFrame({'Brand':product_brands,'Description':product_descriptions,'Price':product_prices})
df

           Brand                                        Description Price
0   K- FOOTLANCE                                   Sneakers For Men  ₹499
1       RapidBox                                   Sneakers For Men  ₹579
2         Layasa  Casual Sneakers White Shoes For Girls And Snea...  ₹449
3           aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹299
4          BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹499
..           ...                                                ...   ...
95         BIRDE                            SD-323 Sneakers For Men  ₹499
96        Footox                                   Sneakers For Men  ₹599
97         Sparx  Casual Sneakers White Shoes For Girls And Snea...  ₹759
98        Labbin  Running Shoes,Sports Shoes for Women|Memory Fo...  ₹379
99        Layasa                                 Sneakers For Women  ₹449

[100 rows x 3 columns]

In [451]:
#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 
#Then set CPU Type filter to “Intel Core i7” as shown in the below image:


import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.amazon.in/
driver.get('https://www.amazon.in/')

In [215]:
#create variable for search field, get and assign the field address
products_brands_more = driver.find_element(By.ID, "twotabsearchtextbox")
#set value(laptop) into the field
products_brands_more.clear()
products_brands_more.send_keys('laptop')

In [216]:
#create variable for search button, get and assign the address
search = driver.find_element(By.ID,"nav-search-submit-button")

#click search button
search.click()

In [217]:
#create variable for checkbox, get and assign the address
cpu = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[9]/li/span/a/div/label/i")

#click the checkbox
cpu.click()

In [220]:
#define variables for laptop titles, ratings and prices
labtop_title = []
laptop_ratings =[]
laptop_prices = []

In [221]:
#Code to scrape top 10 laptops titles, ratings and prices
x=0
y=0
z=0

while True:
    
    #Scraping top 10 titles
    titles=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
    for i in titles:
        labtop_title.append(i.text)
        x+=1
        if x==10:
            break
            
    #Scraping top 10 ratings
    ratings =driver.find_elements(By.XPATH,"//span[@class='a-size-base s-underline-text']")
    for i in ratings:
        laptop_ratings.append(i.text)
        y+=1
        if y==10:
            break   
            
    #Scraping top 10 prices
    prices =driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
    for i in prices:
        laptop_prices.append(i.text)
        z+=1
        if z==10:
            break
            
    if x == 10:
        break
    next_button = driver.find_element(By.XPATH,"//a[@class='s-pagination-item s-pagination-next s-pagination-button s-pagination-separator']")
    next_button.click()
    time.sleep(3)

In [223]:
#Checking the lenght of each list
print(len(labtop_title),len(laptop_ratings),len(laptop_prices))

10 10 10

In [224]:
#loading the list into dataframe
df = pd.DataFrame({'Title':labtop_title,'Rating':laptop_ratings,'Price':laptop_prices})
df

                                               Title Rating     Price
0  Dell Vostro 3420 Laptop, Intel Core i3-1115G4,...     28  1,31,990
1  Dell Vostro 3420 Laptop,11th Gen Intel Core i3...      2  1,14,990
2  Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...      3    62,000
3  HP 15s, 12th Gen Intel Core i5 8GB RAM/512GB S...  1,054    34,990
4  Acer One 14 Business Laptop AMD Ryzen 3 3250U ...     56    37,490
5  Apple 2022 MacBook Air Laptop with M2 chip: 34...     27    20,999
6  HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...  1,224    54,990
7  HP Pavilion 14 12th Gen Intel Core i5 16GB RAM...    282    28,490
8  Dell Vostro 3420 Laptop, Intel Core i5-1135G7,...      7  1,06,990
9  Dell Vostro 3420 Laptop,12th Gen Intel Core i3...    166    38,490

In [366]:
#Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:
#1. First get the webpage https://www.azquotes.com/ 
#2. Click on Top Quotes
#3. Than scrap a) Quote b) Author c) Type Of Quotes

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.azquotes.com
driver.get('https://www.azquotes.com')

In [377]:
#create variable for search button, get and assign the address
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div/div[3]/ul/li[5]/a")

#click search button
search.click()

In [378]:
quotes = []
authors = []
quote_types = []

In [379]:
#Code to scrape top 10 laptops titles, ratings and prices
x=0
y=0
z=0

while True:
    
    #Scraping top 1000 titles
    quo=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quo:
        quotes.append(i.text)
        x+=1
        if x==1000:
            break
            
    #Scraping top 1000 ratings
    auth =driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in auth:
        authors.append(i.text)
        y+=1
        if y==1000:
            break   
            
    #Scraping top 10 prices
    qType =driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in qType:
        quote_types.append(i.text)
        z+=1
        if z==1000:
            break
            
    if x == 1000:
        break
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[3]/li[12]/a")
    next_button.click()
    time.sleep(3)

In [380]:
#Checking the lenght of each list
print(len(quotes),len(authors),len(quote_types))

1000 1000 1000

In [381]:
#loading the list into dataframe
df = pd.DataFrame({'Quote':quotes,'Author':authors,'Type':quote_types})
df

,Quote,Author,Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [274]:
#Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
#This task will be done in following steps:
#1. First get the webpage https://www.jagranjosh.com/
#2. Then You have to click on the GK option
#3. Then click on the List of all Prime Ministers of India
#4. Then scrap the mentioned data and make theDataFrame.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.jagranjosh.com/
driver.get('https://www.jagranjosh.com/')

In [277]:
#create variable for search button, get and assign the address
search = driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a")

#click on GK option
search.click()

In [278]:
#create variable for list of prime minister's link, get and assign the address
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")

#click on link
search.click()

In [279]:
primeM = []

In [338]:
#Scraping Prime minister's name, Born-Death,Term of office.

#create variable and fetch table rows into it
table_trs = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr')

#create variable and fetch row columns into it to be sure of cols fetched
l=driver.find_elements(By.XPATH, "//*[@class= 'table-box']/table/tbody/tr[2]/td")

#create variable and get the lenght of the table
row = len(table_trs)

#print ot colums count
print(len(l))

#variable to hold list of prime ministers's name,Born-Death,Term of office
value_list = []

#loop through the table to fetch records for name,Born-Death,Term of office and save in list
for row in table_trs[1:row-2]:
    value_list.append({
        'Prime minister Name':row.find_elements(By.TAG_NAME, "td")[1].text,
        'Born-Death':row.find_elements(By.TAG_NAME, "td")[2].text,
        'Term of Office':row.find_elements(By.TAG_NAME, "td")[3].text,
        
    })

# Create Dataframe for the list
df = pd.DataFrame(value_list)

df

7

,Prime minister Name,Born-Death,Term of Office
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days"
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days"
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days"
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59..."
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days"
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2..."
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3..."
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days"
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days"
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days"
17,Narendra Modi,(born 1950),26 May 2014 - Present

In [382]:
#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
#This task will be done in following steps:
#1. First get the webpagehttps://www.motor1.com/
#2. Then You have to click on the List option from Dropdown menu on left side. 3. Then click on 50 most expensive cars in the world..
#4. Then scrap the mentioned data and make the dataframe.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.options import Options

#defining and setting driver options and agent to ensure compatibility with my Chrome version
options = webdriver.ChromeOptions()
options.add_argument("start-maximized")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)
driver = webdriver.Chrome(options=options, executable_path=r'/Users/opeyemiojeyinka/Documents/chromedriver_mac_arm64/chromedriver.exe')
driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
driver.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                                                                     'AppleWebKit/537.36 (KHTML, like Gecko) '
                                                                     'Chrome/85.0.4183.102 Safari/537.36'})

#get the webpage https://www.motor1.com/
driver.get('https://www.motor1.com/')

In [390]:
#create variable for harmburger, get and assign the address
search = driver.find_element(By.CLASS_NAME,"m1-hamburger-button")

#click on harmburger icon
search.click()

In [405]:
#create variable for feature link, get and assign the address
search = driver.find_element(By.XPATH,"/html/body/div[9]/div[1]/div[3]/ul/li[5]/button")

#click on the link
search.click()

In [408]:
#create variable for list link, get and assign the address 
search = driver.find_element(By.XPATH,"/html/body/div[9]/div[1]/div[3]/ul/li[6]/ul/li[5]/a")

#click on the link
search.click()

In [411]:
#create variable for 20 most expensive cars link, get and assign the address 
search = driver.find_element(By.XPATH,"/html/body/div[8]/div[8]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a")

#click on the link
search.click()

In [444]:
cars = []
prices = []

In [445]:
#Code to scrape quotes car name and price
    
#Scraping car
car=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in car:
    cars.append(i.text)
            
#Scraping price
price =driver.find_elements(By.TAG_NAME,'strong')
for a in price:
    prices.append(a.text)

In [446]:
#Checking the lenght of each list
print(len(cars),len(prices))

22 22

In [448]:
#remove inappropriate value from car
cars.remove('Most Expensive Cars In The World')
#remove empty string from prices
prices.remove('')

#load records into dataframe
df = pd.DataFrame({'Cars':cars,'Prices':prices})
df

,Cars,Prices
0,Ferrari LaFerrari,Price: £1.1 million ($1.4 million)
1,Pagani Huayra,Price: £1.1 million ($1.4 million)
2,McLaren Elva,Price: £1.3 million ($1.7 million)
3,Ferrari Monza,Price: £1.3 million ($1.7 million)
4,Bentley Bacalar,Price: £1.5 million ($1.9 million)
5,Pininfarina Battista,Price: £1.9 million ($2.5 million)
6,Mercedes-AMG Project One,Price: £2.1 million ($2.7 million)
7,Aston Martin Victor,Price: £2.3 million ($3.0 million)
8,Bugatti Bolide,Price: £2.3 million ($3.0 million)
9,Aston Martin Valkyrie,Price: £2.5 million* ($3.2 million)
10,W Motors Lykan Hypersport,Price: £2.6 million ($3.4 million)
11,Pagani Huayra Roadster BC,Price: £2.7 million ($3.5 million)
12,Bugatti Chiron Pur Sport,Price: £2.8 million ($3.6 million)
13,Lamborghini Sian,Price: £2.8 million ($3.6 million)
14,Bugatti Chiron Super Sport 300+,Price: £3.0 million ($3.9 million)
15,Lamborghini Veneno,Price: £3.5 million ($4.5 million)
16,Bugatti Divo,Price: £4.5 million ($5.8 million)
17,Mercedes-Maybach Exelero,Price: £6.1 million ($8.0 million)
18,Bugatti Centodieci,Price: £6.9 million ($9.0 million)
19,Bugatti La Voiture Noire,Price: £14.4 million ($18.7 million)
20,Rolls-Royce Boat Tail*,Price: £21.5 million ($28.0 million) (est.)